<!DOCTYPE html>
<html>
	<head>
		<title>Mailchimp On-The-Go Marketing</title>
		<link rel="icon" type="image/png" href="images/mailchimpTabIcon.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preload" href="Graphik-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="Graphik-Semibold.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="MeansWeb-Light.woff2" as="font" type="font/woff2" crossorigin>
		<script src="https://kit.fontawesome.com/97f5822177.js" crossorigin="anonymous"></script>
	</head>
	
	<body>
	<div class="page-wrapper">
		<div class="gradient"> </div>
		
		<!-- ---------------- Nav Section ---------------------- -->
		<nav class="section navSection">
				<a href="https://mailchimp.com/" class="logo inline-block"><img src="/images/mailchimp-logo.png"  alt="MailChimp Logo" class="logo_img"> </a>

			<div class="menu">
				<div class="top">
					<a href="https://mailchimp.com/get-your-business-online/" class="top_link inline-block">
						<p class="link-1">Products</p>
					</a>
					<a href="https://mailchimp.com/resources/" class="top_link inline-block">
						<p class="link-2">Resources</p>
					</a>
					<a href="https://mailchimp.com/presents/" class="top_link inline-block">
						<p class="link-3">Inspirations</p>
					</a>
					<a href="https://mailchimp.com/pricing/marketing/" class="top_link inline-block">
						<p class="link-4">Pricing</p>
					</a>
				</div>

				<div class="side">
					<a href="https://www.facebook.com/mailchimp/" class="social inline-block"><i class="fab fa-facebook icon" alt="Facebook"></i></a>
					<a href="https://twitter.com/Mailchimp?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="social inline-block"><i class="fab fa-twitter icon" alt="Twitter"></i></a>
					<a href="https://www.instagram.com/mailchimp/?hl=en" class="social inline-block"><i class="fab fa-instagram icon" alt="Instagram"></i></a>
				</div>
			</div>
			
			<div class="nav_bg"></div>
		</nav>

		<!-- ---------------- Hero Section ---------------------- -->
		<header class="hero">
			<div class="section heroSection">
				<div class="hero_top">
					<div class="hero_words">
						<h1 class="headingHero">Experience on-the-go marketing with Mailchimp's mobile app!</h1>
						<p class="paragraphHero">The Mailchimp All-In-One Marketing App, brings all of the features of our Mailchimp website into the palm of your hand. Grow your business and engage your audience on-the-go!</p>
						<div class="hero_links">
							<!-- Google Play and Apple Store buttons here -->
								<div class="d-flex flex-column flex-lg-row align-items-center">
                                	<a class="me-lg-3 mb-4 mb-lg-0" href="https://play.google.com/store/apps/details?id=com.mailchimp.mailchimp&amp;hl=en_US&amp;gl=US">
										<img class="app-badge" id='googlePlay' src="/images/google-play-img.png" alt="Google Play Store">
									</a>
                               		<a href="https://apps.apple.com/us/app/mailchimp-marketing-crm/id366794783">
										<img class="app-badge" id='appStore' src="/images/app-store-img.png" alt="Apple Store">
									</a> 
                            	</div>
						</div>
					</div>
					<div class="hero_photo">
						<img src="images/iPhoneXFrame.png" style="z-index: 2; width: 242px; margin-right: -1px" class="image">
						<img src="images/MailchimpAppGif.gif" style="width: 235px; z-index: 1; margin-right: 2px; border-radius: 25px;" class="image">
					</div>
				</div>
			</div>
		</header>
	</div>
	
	<div class='bumperSection'>
		<div class='container'>
			<h2 class="bumperWords">Take a deep dive into Mailchimp's Marketing and CRM app</h2>
		</div>	
	</div>
		
	<!-- ---------------- Create Campaigns Section ---------------------- -->
	<div class="createCampaignSection">
		<div class="container ">

				<div class="col col-md-7" id='campaignWords'>
					<div class="backgroundCampaign">
						<div class="foregroundCampaign">
							<h1 class="headingSection">Create Campaigns</h1>
								<p class="paragraphFeatures">Create personalized campaign tailor to your business. Utilize on-the-go marketing the instant an idea occurs, whenever and wherever you may be. From promoting seasonal deals, unvieling a new product, or just sending an update to your audience, all can be achieve with the Mailchimp Marketing &#38; CRM app!</p>
						</div>
					</div>
				</div>
				
				<!-- Image Section for Create Campaigns-->
				<div class="column col col-md-3">
					<img src ="images/MailchimpCampaignImg.png" alt="" class="campaignImage">
				</div>
		</div>
	</div>
		
	<!-- ---------------- Manage Your Audience Section ---------------------- -->
	<div class="audienceSection">
		<div class="container">
			<div class="row">
				
				<!-- Image Section for Manage Your Audience -->
				<div class="col col-md-3" id='audienceImage'>
						<img src="images/MailchimpAudienceImg.png" width="550" alt="">
				</div>
					
				<div class="column col col-md-7" id="audienceWords">
					<div class="backgroundAudience">
						<div class="foregroundAudience">
							<h1 class="headingSection"> Manage Your Audience </h1>
							<p class="paragraphFeatures">Grow your audience, create groups, and view insights on individual contacts with Mailchimp's new mobile app! Keep tabs on your audience's and ever growing subscriber count or create special groups for loyal customers to send specialized deals to.</p>
						</div>
					</div>
				</div>
	
			</div>
		</div>
	</div>
	
	<!-- ---------------- Monitor Your Campaign Section ---------------------- -->
	<div class="monitorSection">
		<div class="container">
			<div class="row">
				
				<div class="col col-md-7" id='monitorWords'>
					<div class="backgroundCampaign">
						<div class="foregroundCampaign">
							<h1 class="headingSection"> Monitor Your Campaigns</h1>
							<p class="paragraphFeatures"> Gain insights on what works with your audience and what doesn't with Mailchimp's up-to-date reports on your campaigns. Get precise knowledge on what products or services are bringing in the most interest with accurate data on your campaign's open and click rates.</p>
						</div>
					</div>
				</div>
				
				<!-- Image Section for Monitor Your Campaigns -->
				<div class="column col col-md-3">
					<img src ="images/MailchimpMonitorImg.png" alt="" class="monitorImage">
				</div>
			</div>
		</div>
	</div>
		
		<!-- ---------------- User Endorsement Section ---------------------- -->
	<div class="userEndorseSection">
		<div class="container">
			<div class='row'>
				<h1 class="endorseTitle">What People Are Saying About Our App</h1>
                <div class="col col-md-6 userContent">
					<div class="ratingIcon">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<h2 class="ratingNum">5.0</h2>
					</div>    
					<h3 class="userQuote">"Mailchimp's mobile app allows me the freedom to reach my audience whenever and wherever inspiration hits for a new game!"</h3>
    				<p class="userCaption"> – Alyssa Chen, Chief Marketing Officer of Gamebust </p>    
			
					<div class="userStats">
        				<div class="personalStat">
    						<h2 class="screen-reader-only percentStat">48%</h2>
    						<h2 aria-hidden="true" class="statInfo"> growth in campaign traffic </h2>
						</div>
						<div class="personalStat">
    						<h2 class="screen-reader-only percentStat">155% </h2>
							<h2 aria-hidden="true" class="statInfo"> increase in email signups </h2>
						</div>
            		</div>   
            	</div>
				<!-- 
				<div class="col col-md-3 businessImage">
                	<img id="gamebustImage" src="/images/GameBustStockPhoto.jpg" alt="Indie Dev: GameBust" >
            	</div>
				-->
				<div class="card col col-md-3">
					<div class="cardContainer">
						<img src="images/GameBustStockPhoto.jpg" class="cardImage">
						<h1 class="cardH1">"Reinvented On-The-Go Marketing!"</h1>
						<p class="cardParagraph">Managing contacts, creating segments and groups, and designing emails with or without templates is so easy with Mailchimp.</p>
						<div class="ratingStars">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<h4><b>Gamebust</b></h4>
						<p style="margin-bottom: 20px;">Indie Game Dev Studio</p>
				  </div>
				</div>
				
				<div class="card col col-md-3">
					<div class="cardContainer">
						<img src="images/MalePhoto1.jpg" class="cardImage">
						<h1 class="cardH1">"Changed How I Do Business!"</h1>
						<p class="cardParagraph"> The very idea that Mailchimp allows small businesses to use their services for free until they grow large enough to require paid services, is awesome in itself.</p>
						<div class="ratingStars">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<h4><b>John Hutchson</b></h4>
						<p style="margin-bottom: 20px;">Architect and Engineer</p>
				  </div>
				</div>		
			</div>
		</div>
	</div>
		
	<div class="footer">
		<div class="container">
                <div class="footerText">
                    <div>© Launchpad 2021. All Rights Reserved.</div>
                    <a href="#" class="footerTags">Privacy</a>
                    <span>·</span>
                    <a href="#" class="footerTags">Terms</a> 
                </div>
            </div>
		</div>
	</div>

	<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=615d007490f63f9cbfe6610b1" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	</body>
</html>